body{
    background: rgb(105, 156, 156);
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.inner{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

input{
    height: 2rem;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0.4rem;
    font-size: 1.3rem;
}

#convert{
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 1rem;
}